* {
  font-family: 'Orbitron', sans-serif;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:auto;
  width:auto;
  background-image:  url("../images/main-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
a {
  color: #00B7FF;
}
#bank {
  background-color: #E2E2E2;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 5px;
}
#bet {
  background-color: #E2E2E2;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 3px;
  height: 11%;
  padding: 5px;
}
#bet-message-container {
  position: absolute;
  top: 28%;
  left: 37.5%;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 25%;
  height: 30%;
}
#bet-message-image {
  height: 100%;
}
#board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: inherit;
  box-sizing: border-box;
}
#card-suit {
  color: #ffff00;
  position: absolute;
  font-size: 70px;
  margin-left: 23px;
}
#card-rank {
  border-radius: 0px 0px 5px 0px;
  width: 25%;
  text-align: center;
  background-color: black;
  color: #ffff00;
  position: inherit;
  font-size: 1.2em;
}
#dealer-space {
  position: absolute;
  top: 0.5%;
  height: 26%;
  width: 100%;
  left: 0%;
}
#dealer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}
#dealer-name {
  position: absolute;
  top: 18px;
  font-size: 22px;
  font-weight: 900;
  font-family: inherit;
  background-color: #E49B0F;
  border-radius: 0px;
  text-align: center;
  padding: 2px 10px 2px 10px;
}
#hand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  background-image: url("../images/poker-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 90%;
  border: 5px solid #0C72D8;
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 1em;
  min-width: 15em;
}
#hand-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fafafa;
  height: 1.2em;
  width: 2em;
  font-size: 2.5em;
  text-align: center;
  color: #000f5a;
  z-index: 1;
  border-radius: 5px;
}
#hit {
  background-color: #48d1cc;
  border-radius: 30px 30px 30px 30px;
  color: #1c1c1c;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-size: 20px;
  height: 45px;
  width: 100px;
  margin-bottom: 15px;
}
#hit:focus {
  outline: 0;
}
#player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}
#player-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Sigmar One', cursive;
}
#player-name {
  position: absolute;
  top: 7%;
  font-size: 22px;
  font-weight: 900;
  font-family: inherit;
  background-color: #E49B0F;
  border-radius: 0px;
  text-align: center;
  padding: 2px 10px 2px 10px;
}
#player-space {
  position: absolute;
  bottom: 0.5%;
  height: 26%;
  width: 100%;
  left: 0%;
}
#set-button {
  position: absolute;
  top: 14px;
  right: 106%;
  height: 40px;
  width: 18%;
  border-radius: 5px;
  background-color: #f4d495;
  color: #000089;
  font-family: inherit;
  font-weight: 900;
  font-size: 1.1em;
  outline: none;
}
#stay {
  background-color: #87ceeb;
  border-radius: 30px 30px 30px 30px;
  color: #1c1c1c;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-size: 20px;
  height: 45px;
  width: 100px;
}
#stay:focus {
  outline: 0;
}
#split {
  background-color: #48d1cc;
  border-radius: 30px 30px 30px 30px;
  color: #006400;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-size: 20px;
  height: 45px;
  width: 100px;
  margin-bottom: 15px;
}
#split:focus {
  outline: 0;
}
#white-chip, #red-chip, #green-chip, #blue-chip, #black-chip {
  background-position: center;
  background-size: 80px 80px;
  border-radius: 200px 200px 200px 200px;
  color: #fafafa;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: bolder;
  font-family: inherit;
  font-size: 25px;
  height: 70px;
  width: 75px;
  padding: 12px 12px 15px 10px;
  outline: none;
}
#white-chip {
  color:  #1c1c1c;
  background-image: url("../images/white-poker-chip.jpg");
}
#red-chip {
  background-image:url("../images/red-poker-chip.png");
}
#green-chip {
  background-image: url("../images/green-poker-chip.jpg");
}
#blue-chip {
  background-image: url("../images/blue-poker-chip.jpg");
}
#black-chip {
  background-image:url('../images/black-poker-chip.png');
}
.bet-bank-display {
  background-color: #fafafa;
  border-radius: 5px;
  position: absolute;
  top: -100%;
  right: 14%;
  width: 12%;
  padding: 20px;
}
.card {
  border:0.5px solid #141e10;
  border-radius: 7px;
  height: 140px;
  width: 95px;
  float:left;
  margin-left: 1em;
  margin-top: 8%;
  background-image:url("../images/card-back.jpg");
}
.chips {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 40%;
  top: -40%;
  left: 31.4%;
}
.hit-stay-buttons {
  position: absolute;
  height: 55%;
  top: -98%;
  left: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-name {
  padding-left: 16px;
  margin-bottom: 1em;
  font-family: inherit;
  font-size: 2.2em;
  border-radius: 5px;
  outline: none;
}
.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-screen-banner, .start-screen-banner2  {
  margin-bottom: 3em;
  height: 2.5em;
  width: 11.5em;
  padding-top: 0px;
  border-radius: 50%;
  background-color: #57d86d;
  font-size: 4.8em;
  font-weight: 900;
  color: #fafafa;
  text-shadow: 0px 10px 20px #1c1c1c;
  box-shadow: 0px 10px 40px #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-screen-banner2 {
  font-size: 4em;
}
.start-screen-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-button { 
  width: 100%;
  height: 10%;
  background-color: darkslategray;
  color: #fafafa;
  box-shadow: 0px 10px 40px #1c1c1c;
  border-radius: 15px;
  font-family: inherit;
  font-size: 2.5em;
  outline: none;
}
.result-winner, .result-loser, .result-draw {
  position: absolute;
  top: 25%;
  left: 50%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
}
.result-winner {
  box-shadow: 0px 5px 100px 10px #FFE100;
  width: 30%;
}
.result-loser {
  box-shadow: 0px 5px 100px 10px #0014A8;
  width: 35%;
}
.result-draw {
  box-shadow: 0px 5px 100px 10px #FFE100;
  height: 16%;
  width: 35%;
}
.result-loser-text {
  position: absolute;
  font-size: 300%;
  font-weight: 900;
  text-shadow: 0px 5px 15px #1c1c1c;
}
.result-winner-image, .result-loser-image, .result-draw-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
